<div class="content">
    <mat-card>
        <div style="margin-bottom: 15px">
            <label>Buscar por:</label>
            <mat-radio-group [(ngModel)]="searchBy">
                <mat-radio-button value="autor">Autor</mat-radio-button>
                <mat-radio-button value="titulo">Título</mat-radio-button>
            </mat-radio-group>
        </div>
        <mat-form-field class="full-width">
            <input matInput type="search" [(ngModel)]="searchText"  (ngModelChange)="search($event)" placeholder="Digite o {{searchBy}} do livro">
        </mat-form-field>
        <div class="error" *ngIf="books && books.length == 0">
            Livros não encontrados
        </div>
        <mat-grid-list cols="4" rowHeight="500px">
            <div *ngFor="let book of books">
            <mat-grid-tile>
                <mat-card class="card-image" style="height: 80%">
                    <mat-card-content>
                        <img class="img-card" src="{{book.image}}">
                    </mat-card-content>
                    <mat-card-title>
                        {{book.title}}
                    </mat-card-title>
                    <mat-card-subtitle>
                        Autor: {{book.author}}
                    </mat-card-subtitle>
                    <mat-chip-list>
                        <mat-chip color="primary" selected="true">Preço {{book.price}}</mat-chip>
                        <mat-chip color="primary" selected="true">Ano {{book.yearPublished}}</mat-chip>
                    </mat-chip-list>
                </mat-card>
            </mat-grid-tile>
            </div>
        </mat-grid-list>
    </mat-card>
</div>